@model EFarming.DTO.FarmModule.PlantationDTO

@Html.HiddenFor(model => model.FarmId)
@Html.HiddenFor(model => model.ProductivityId)
<input type="hidden" value="@ViewBag.PageNumber" name="page" />
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.NumberLot, "Número del lote", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.NumberLot, new { type = "number", @class = "form-control", placeholder = "Número del lote", required = "required" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>


<div class="form-group has-feedback">
    <label class="col-sm-3 control-label hidden-xs" for="MuniLotId">Municipio del lote</label>
    <div class="col-sm-8">
        <select class="form-control required" id="MuniLotId" name="MuniLot">
            <option value="">Seleccione el municipio</option>
            @foreach (var item in ViewBag.muni)
            {
                if (item.Id == ViewBag.SelectedMuni)
                {
                    <option value="@item.Id" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.VillageLot, "Vereda del lote", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        <select class="form-control required" id="VillageLotId" name="VillageLot">
            <option value="">Seleccione la vereda</option>
            @if (ViewBag.vill != null)
            {
                foreach (var item in ViewBag.vill)
                {
                    if (item.Id == ViewBag.SelectedVill)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.NomLot, "Nombre del lote", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.NomLot, new { type = "text", @class = "form-control", placeholder = "Nombre del lote", required = "required", maxlength = "99" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.LabLot, "Labor del lote", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        <select class="form-control required" id="LabLot" name="LabLot">
            <option value="">Seleccione la labor del lote</option>
            @foreach (var item in ViewBag.Labor)
            {
                if (item.Name == Model.LabLot)
                {
                    <option value="@item.Name" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.TipoLot, "El lote es", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        <select class="form-control required" id="TipoLot" name="TipoLot">
            <option value="">Seleccione el tipo de lote</option>
            @foreach (var item in ViewBag.TLot)
            {
                if (item.Name == Model.TipoLot)
                {
                    <option value="@item.Name" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.FormLot, "Forma de siembra", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        <select class="form-control required" id="FormLot" name="FormLot">
            <option value="">Seleccione la forma de siembra</option>
            @foreach (var item in ViewBag.FormLot)
            {
                if (item.Name == Model.FormLot)
                {
                    <option value="@item.Name" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.NumEjeArbLot, "Número de ejes", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        <select class="form-control required" id="NumEjeArbLot" name="NumEjeArbLot">
            <option value="">Seleccione el número de ejes</option>
            @foreach (var item in ViewBag.NumEjeArbLot)
            {
                if (item.Name.ToString() == Model.NumEjeArbLot.ToString())
                {
                    <option value="@item.Name" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.Name">@item.Name</option>
                }
            }
        </select>
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label hidden-xs col-sm-3" for="PlantationTypeId">@AdminMessage.Plantation_Type</label>
    <div class="col-sm-8">
        <select class="form-control" id="PlantationTypeId" name="PlantationTypeId" required
                data-bind="value: plantationType, options: plantationTypes, optionsText:'name', optionsValue:'id',optionsCaption: '@string.Format(Message.SelectA, AdminMessage.Plantation_Type)', event:{change: getPlantationVarieties}"></select>
        <span class="hide glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label hidden-xs col-sm-3" for="PlantationVarietyId">@AdminMessage.Plantation_Variety</label>
    <div class="col-sm-8">
        <select class="form-control" id="PlantationVarietyId" name="PlantationVarietyId" required
                data-bind="value: plantationVariety, options: plantationVarieties, optionsText:'name', optionsValue:'id',optionsCaption: '@string.Format(Message.SelectA, AdminMessage.Plantation_Variety)'"></select>
        <span class="hide glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    <label class="control-label hidden-xs col-sm-3" for="PlantationStatusId">@AdminMessage.Plantation_Status</label>
    <div class="col-sm-8">
        <select class="form-control" id="PlantationStatusId" name="PlantationStatusId" required
                data-bind="value: plantationStatus, options: plantationStatuses, optionsText:'name', optionsValue:'id',optionsCaption: '@string.Format(Message.SelectA, AdminMessage.Plantation_Status)'"></select>
        <span class="hide glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.Age, "cutting or planting date", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Age, "{0:dd/MM/yyyy}", new { type = "text", @class = "form-control dateField", placeholder = @Message.Age, required = "required" })
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.EstimatedProduction, @FarmMessages.Estimated_Production, new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.EstimatedProduction, new { @class = "form-control", placeholder = @FarmMessages.Estimated_Production, required = "required", rows = "6O" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.Hectares, @FarmMessages.Hectares, new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Hectares, new { @class = "form-control", placeholder = @FarmMessages.Hectares, required = "required", rows = "6O" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.TreesDistance, "Distance between trees", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.TreesDistance, new { @class = "form-control", placeholder = "Distance between trees", required = "required", rows = "6O" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.GrooveDistance, "Groove distance", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.GrooveDistance, new { @class = "form-control", placeholder = "Groove distance", required = "required", rows = "6O" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>

@Html.HiddenFor(model => model.Density)
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.Density, "Density", new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Density, "{0:0.00}", new { @class = "form-control", placeholder = "Density", required = "required", rows = "6O", @readonly = "readonly" })
        <span class="glyphicon form-control-feedback"></span>
        <span class="help-block"></span>
    </div>
</div>
<div class="form-group has-feedback">
    @Html.LabelFor(model => model.NumberOfPlants, @FarmMessages.Number_Of_Plants, new { @class = "col-sm-3 control-label hidden-xs" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.NumberOfPlants, new { @class = "form-control", placeholder = @FarmMessages.Number_Of_Plants, required = "required", @readonly = "readonly" })
        <span class="glyphicon form-control-feedback hidden"></span>
        <span class="help-block"></span>
    </div>
</div>


<script>
    $(document).on('change', "#MuniLotId", function () {
        var s_elm = $(this);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Get_Villages", "Farms")',
            data: {
                Municipality: s_elm.val()
            },
            dataType: "json",
            success: function (data) {
                FillSelectFrom_Json(data, $("#VillageLotId"))
            }
        });
    });

    function FillSelectFrom_Json(object, target) {
        $(target).html("<option value=''>Seleccione la vereda</option>");
        $.each(object, function (index, value) {
            $(target).append("<option value='" + value.Id + "'>" + value.Name + "</option>")
        })

    }

    $(document).ready(function () {
        calculateDensity();
    });

    function calculateDensity() {
        let hectares = parseFloat($("#Hectares").val());
        let plants = parseFloat($("#NumberOfPlants").val());

        if (!isNaN(hectares) && hectares > 0 && !isNaN(plants)) {
            let density = plants / hectares;
            $("#Density").val(density.toFixed(2));
        }
    }
</script>