<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@ReportMessage.Reports</h5>
                </div>
                <div class="ibox-content">
                    <div class="flot-chart farm-search">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                        <a href="@Url.Action("ByTaster", "QualityReports")">
                                            <img src="/Content/icons/report.png" />
                                            <br />
                                            <h3>@ReportMessage.Quality_Assessments_By_Taster</h3>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a href="@Url.Action("PuntoCero", "QualityReports")">
                                            <img src="/Content/icons/report.png" />
                                            <br />
                                            <h3>@ReportMessage.Punto_Cero</h3>
                                        </a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>