@model List<EFarming.Core.FarmModule.FarmAggregate.Farm>

@{
    ViewBag.Title = "GeopositionFarms";
    Layout = "~/Views/Shared/_layout_without_menu.cshtml";
}

@section Scripts{
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var gmarkers = [];
            var map;

            function initialize() {
                var mapProp = {
                    center: new google.maps.LatLng(5.544114, -75.4766186), // Start in the
                    zoom: 11,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };
                map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }

            google.maps.event.addDomListener(window, 'load', initialize);

            // Busca por el departamento
            // El boton del departamento seleccionado
            $("#btns_dpt :input").click(function () {
                var x = this.id;
                for (i = 0; i < gmarkers.length; i++) {
                    gmarkers[i].setMap(null);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchByDepartment", "Sustainability")', //"../Sustainability/Search"
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "_idDepartment": x }),
                    dataType: "json",
                    success: function (data) {
                        FillPositionsInMap(data);
                    }
                });
            });

            // Busca por el municipio
            // El municipio seleccionado
            $("#btns_mun :input").click(function () {
                var x = this.id;
                for (i = 0; i < gmarkers.length; i++) {
                    gmarkers[i].setMap(null);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchByMunicipalyti", "Sustainability")', //"../Sustainability/Search"
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "_idmuni": x }),
                    dataType: "json",
                    success: function (data) {
                        FillPositionsInMap(data);
                    }
                });
            });

            // Busca por el Nombre de la finca
            $("#txtSearch").keyup(function () {
                var x = $("#txtSearch").val();

                for (i = 0; i < gmarkers.length; i++) {
                    gmarkers[i].setMap(null);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchFarm", "Sustainability")', //"../Sustainability/Search"
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "Buscar": x }),
                    dataType: "json",
                    success: function (data) {
                        FillPositionsInMap(data);
                    }
                });
            });

            // Busca por el codigo de la finca
            $("#txtByCode").keyup(function () {
                var x = $("#txtByCode").val();

                for (i = 0; i < gmarkers.length; i++) {
                    gmarkers[i].setMap(null);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SearchFarmByCode", "Sustainability")', //"../Sustainability/SearchFarmByCode"
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ "codeFarm": x }),
                    dataType: "json",
                    success: function (data) {
                        FillPositionsInMap(data);
                    }
                });
            });

            // Pinta las respuestas de la peticion AJAX
            // en el mapa de google maps
            function FillPositionsInMap(data) {
                var table = "<table class='table'>";
                $.each(data, function (index, value) {
                    //alert(value.Latitude + value.Longitude);
                    table += "<tr><td>" + value.Code + " - " + value.Name + "</td></tr>";
                    var latlng = new google.maps.LatLng(value.Latitude, value.Longitude);
                    var contentString = '<div><h3>Code NN: ' + value.Code
                + '</h3><div><p>Farm Name: ' + value.Name
                + '</p><p>Cooperative: ' + value.Cooperative + ' Village: ' + value.Vereda
                + '<p><a href="..' + value.url_farm + '" target="_blank" class="btn"> Farm Information</a><a href="..' + value.url_farm_dashboard + '" target="blank" class"btn"> Farm Dashboard</a></p>'
                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    var marker = new google.maps.Marker({
                        position: latlng,
                        icon: "../Images/pinkball.png",
                        map: map,
                        title: value.Code,
                    });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });

                    gmarkers.push(marker);
                });
                table += "</table>";
                $("#myData").html(table);

                if (x == "") {
                    for (j = 0; j < gmarkers.length; j++) {
                        gmarkers[j].setMap(null);
                    }
                }
            }
        });
    </script>
}

<div class="row">
    <div class="ibox-title">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <h5>Geoposition Farms</h5>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9"></div>
            <div class="col-lg-1 col-md-1 col-sm-1">
                <input action="action" class="btn btn-success" type="button" value="Volver" onclick="history.go(-1);" />
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="flot-chart farm-search">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h6>Name Farm:</h6>
                            @Html.TextBox("txtSearch", null, new { @placeholder = "Search a Farm", })
                        </div>
                        <div class="col-lg-12 text-center">
                            <h6>Code Farm:</h6>
                            @Html.TextBox("txtByCode", null, new { @placeholder = "Search by CODE", })
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <h6>Departments</h6>
                    <div id="btns_dpt">
                        @if (ViewBag.Departments != null)
                        {
                            foreach (var dept in ViewBag.Departments)
                            {
                                <input type="button" id="@dept.Id" name="name" value="@dept.Name" class="btn btn-success btn-sm" />
                            }
                        }
                    </div>
                </div>
                @*<div class="col-lg-2 col-md-2 col-sm-2">
                    <h6>Cooperatives</h6>
                    <div id="btns_coops">
                        @if (ViewBag.Cooperatives != null)
                        {
                            foreach (var coop in ViewBag.Cooperatives)
                            {
                                <input type="button" id="@coop.Id" name="name" value="@coop.Name" class="btn btn-warning btn-sm" style="width:auto" />
                            }
                        }
                    </div>
                </div>*@
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h6>Municipalyti</h6>
                    <div id="btns_mun">
                        @if (ViewBag.Municipalities != null)
                        {
                            foreach (var mun in ViewBag.Municipalities)
                            {
                                <input type="button" id="@mun.Id" name="name" value="@mun.Name" class="btn btn-warning btn-sm" style="width:auto" />
                            }
                        }
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="flot-chart farm-search">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">

                    <div id="myData" style="width:auto; height:500px; overflow-y: scroll;">
                        <table class="table">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <p>@item.Code - @item.Name</p>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <div id="googleMap" style="width:auto;height:600px;"></div>
                </div>
            </div>
            @*Esta tabla no utilizarla por el momento*@
            @*<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <table class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <td>Code</td>
                                    <td>Farm</td>
                                    <td>Latitude</td>
                                    <td>Longitude</td>
                                    <td>Elevation</td>
                                </tr>
                            </thead>
                            @if (Model != null)
                            {
                                foreach (var farm in Model)
                                {
                                    <tr>
                                        <td>@farm.Code</td>
                                        <td>@farm.Name</td>
                                        <td>@farm.GeoLocation.Latitude</td>
                                        <td>@farm.GeoLocation.Longitude</td>
                                        <td>@farm.GeoLocation.Elevation</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>*@
        </div>
    </div>
</div>
