@model EFarming.Core.FerilizersCalculatorModule.FertilizerInformation    

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FertilizerInformationDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.N)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P2O5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P2O5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.K20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.K20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MgO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MgO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Message.Back, "Index")
</p>
