
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    <div>
        <h3><strong>Farms fail</strong></h3>
       
        <!--<table class="table table-bordered table-responsive">-->
        <table class="table table-fixed-header">
            <thead>
                <tr>
                    <th>
                        Nombre de la finca
                    </th>
                    <th>
                        Departamento
                    </th>
                    <th>
                        Municipio
                    </th>
                    <th>
                        Vereda
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var farm in @ViewBag.farms)
                {
                <tr>
                    <td>@farm.farmName</td>
                    <td>@farm.depName</td>
                    <td>@farm.munName</td>
                    <td>@farm.villName</td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">

                <a class="btn btn-link link-delete modal-close" data-dismiss="modal"> Cerrar</a>
            </div>
        </div>
        <br />
        <br />

        

        <script src="~/Scripts/remote-validation.js"></script>


    </div>
</div>
