@model IEnumerable<EFarming.Core.TasqModule.Module>

@{
    ViewBag.Title = "Index";
}

<div>
    <p class="pull-left"><b>Categoría</b></p>
</div>

<table class="table" style="font-size:12px !important;">
    <tr>
        <th></th>
        <th>
            Template
        </th>
        <th>
            Nombre
        </th>
        <th>
            Orden
        </th>
        <th>
            <span class="pull-right">
                @if (!User.IsInRole("Reader"))
                {
                    if (ViewBag.mod2 != null)
                    {
                        <a href="@Url.Action("Create", "Modules", new { assesmentId = ViewBag.mod2 })" data-toggle="modal" data-target="#modal" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                            Agregar
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Create", "Modules"@*, new { assesmentId = ViewBag.mod.AssessmentTemplateId }*@)" data-toggle="modal" data-target="#modal" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus">
                            </span>
                            Agregar
                        </a>
                    }
                }
            </span>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="width:50px">
                <a href="@Url.Action("Index", "SubModules", new { ModuleId = item.Id })" data-target="submodules-content" class="config">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentTemplate.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleOrder)
            </td>
            <td>
                <div class="pull-right">
                    @if (!User.IsInRole("Reader"))
                    {
                        <a href="@Url.Action("Edit", "Modules", new { id = item.Id, assesmentId = ViewBag.mod2 })" data-toggle="modal" data-target="#modal">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Modules", new { id = item.Id, assesmentId = ViewBag.mod2 })" data-toggle="modal" data-target="#modal">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    }
                </div>
            </td>
        </tr>
    }

</table>