@model EFarming.DTO.AdminModule.UserDTO

@{
    ViewBag.Title = "Associate Projects";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Información de usuarios</a>
                            <div class="list-group-item">
                                Nombres: @Model.FirstName
                            </div>
                            <div class="list-group-item">
                                Apellidos: @Model.LastName
                            </div>
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-user"></span> Username: @Model.Username
                            </div>
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-inbox"></span> Correo: @Model.Email
                            </div>
                            <div class="list-group-item">
                                Nombre completo: <br />
                                @Model.FullName
                            </div>
                            <div class="list-group-item">
                                Estado:
                                @if (Model.IsActive)
                                {
                                    <span class="glyphicon glyphicon-ok-sign"></span> @Model.IsActive
                                }
                                else
                                {
                                    <span class="glyphicon glyphicon-remove-circle "></span> @Model.IsActive
                                }
                            </div>
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span> Fecha de creación: @string.Format("{0:dd/MM/yyyy}", Model.CreatedAt)
                            </div>
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-calendar"></span> Fecha de actualización: @string.Format("{0:dd/MM/yyyy}", Model.UpdatedAt)
                            </div>
                            <div class="list-group-item text-center">
                                <a id="modal-940840" href="#modal-container-940840" role="button" class="btn btn-primary" data-toggle="modal">Resumen Usuario</a>
                            </div>
                            <div class="list-group-item active">
                                <a class="list-group-item"><span class="badge">@Model.Projects.Count</span># Proyectos</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <!-- Tasb definiton -->
                        <ul class="nav nav-tabs">
                            <li class="nav active"><a href="#A" data-toggle="tab">Proyectos</a></li>
                            <li class="nav">
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- roles -->
                            <div class="tab-pane fade in active" id="A">
                                <div class="list-group-item-heading">
                                    <br />
                                    <p>Projects Associated With The User</p>
                                    <ul>
                                        @if (Model.Projects != null)
                                        {
                                            foreach (var item in Model.Projects)
                                            {
                                                <li>
                                                    <a class="btn btn-primary" href="#">@item.Name</a>
                                                    @using (Html.BeginForm("DeleteProject", "Users", FormMethod.Post))
                                                    {
                                                        @Html.Hidden("idUser", Model.Id)
                                                        @Html.Hidden("ProjectId", item.Id)
                                                        <button type="submit" class="btn btn-danger"> X </button>
                                                    }
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li></li>
                                        }
                                    </ul>
                                    <hr />
                                    <p>Add Projects to the User</p>
                                    @if (ViewBag.Projects != null)
                                    {
                                        foreach (var project in (ICollection<EFarming.DTO.ProjectModule.ProjectDTO>)ViewBag.Projects )
                                        {
                                            using (Html.BeginForm("AddProject", "Users", FormMethod.Post))
                                            {
                                                @Html.Hidden("idUser", Model.Id)
                                                @Html.Hidden("ProjectId", project.Id)
                                                <button type="submit" class="btn btn-danger">Add Project @project.Name</button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                                                      
                            <div class="tab-pane fade" id="C">
                                <div class="list-group-item-heading">
                                    <br />
                                    <ul>
                                        @if (Model.SensoryProfileAssessments != null)
                                        {
                                            foreach (var tst in Model.SensoryProfileAssessments)
                                            {
                                                <li><a href="#">@tst.AssessmentTemplate.Name </a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li>No data</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal-container-940840" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            Close
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Name: @Model.FullName
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        First Name: @Model.FirstName
                                        <br />
                                        Last Name: @Model.LastName
                                        <br />
                                        ID: @Model.Id
                                        <br />
                                        UserName: @Model.Username
                                        <br />
                                        Email: @Model.Email
                                        <br />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <h2>No data to show..</h2>
    </div>
}


