@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/highcharts/solid-gauge.src.js"></script>
    <script src="~/Scripts/highcharts/exporting.js"></script>

    <script src="~/Scripts/dashboard/farms_per_location.js"></script>
    <script src="~/Scripts/dashboard/plantations_per_location.js"></script>
    <script src="~/Scripts/dashboard/impact_performance_location.js"></script>
    <script src="~/Scripts/dashboard/Impact_track_by_location.js"></script>
    <script src="~/Scripts/dashboard/quality_per_location.js"></script>
}

@section breadcrumb{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2 class="page-name">@Message.Dashboard</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        @Message.Home
                    </a>
                </li>

                <li class="active">
                    <strong>@Message.Dashboard</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <div class="flot-chart">
                                <div class="charts" id="farms-per-location">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <div class="flot-chart">
                                <div class="charts" id="plantation-type">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <div class="flot-chart">
                                <div class="charts" id="location-impact">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <div class="flot-chart">
                                <div class="charts" id="location-quality">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content" style="display: block;">
                            <div class="flot-chart">
                                <div class="charts" id="resume-impact">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content information-content">
                    <div class="file-manager">
                        <h4 class="information">@DashboardMessage.Plantation_Information</h4>
                        <div class="space-25"></div>
                        <ul class="folder-list m-b-md">
                            <li>
                                <i class="fa fa-globe">&nbsp;</i>
                                @AdminMessage.Location:
                                <span class="pull-right"><strong>Colombia</strong></span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker">&nbsp;</i>
                                @AdminMessage.Departments:
                                <ul>
                                    @foreach (var department in (List<EFarming.DTO.AdminModule.DepartmentDTO>)ViewBag.Departments)
                                    {
                                        <li>
                                            <a href="@Url.Action("Departments", "Dashboard", new { id = department.Id })">
                                                @department.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <i class="fa fa-home"></i>
                                @DashboardMessage.Number_Of_Farms:
                                <span class="badge pull-right">@ViewBag.CountFarms</span>
                            </li>
                            <li>
                                <i class="fa fa-th-large"></i>
                                @DashboardMessage.Total_Area:
                                <span class="badge pull-right">@ViewBag.TotalArea</span>
                            </li>
                        </ul>
                        @foreach (var plantationInformation in (IEnumerable<EFarming.DTO.DashboardModule.PlantationInformationDTO>)ViewBag.PlantationInformation)
                        {
                            <h5>@plantationInformation.Plantation</h5>
                            <ul class="folder-list m-b-md">
                                <li>
                                    @DashboardMessage.Total_Plantation_Area:
                                    <span class="badge pull-right">@plantationInformation.Area</span>
                                </li>

                                <li>

                                    @AdminMessage.Plantation_Variety:
                                    <ul>
                                        @foreach (var variety in plantationInformation.Varieties)
                                        {
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-circle text-navy">&nbsp;&nbsp;</i>
                                                    @variety
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
