@model EFarming.Core.ComercialModule.Seller

@{
    ViewBag.Title = "Create Seller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/Comercial/Views/Shared/_Navegation_Comercial.cshtml")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid wrapper wrapper-content">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <h2>Seller <small>Create a Seller</small></h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.EditorFor(model => model.Footer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Footer" } })
                        @Html.ValidationMessageFor(model => model.Footer, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control", @placeholder = "Header" } })
                                @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                @Html.EditorFor(model => model.SubHeader, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Header" } })
                                @Html.ValidationMessageFor(model => model.SubHeader, "", new { @class = "text-danger" })
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            @Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-default btn-block btn-lg" })
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <input type="submit" value="Create Seller" class="btn btn-success btn-block btn-lg" tabindex="7">
                        </div>
                    </div>
                    <div class="row">
                        <br />
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Seller</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Footer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Footer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Footer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Header, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Header, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Header, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubHeader, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SubHeader, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubHeader, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Atrás", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
