<div class="row">
    <div class="col-md-12 center-block">
        <center>
            <div class="btn-group">
                <a class="btn btn-success" href="@Url.Action("Index","Agreements")">
                    <em class="glyphicon glyphicon-inbox"></em> Contracts List
                </a>
	      <a class="btn btn-success" href="@Url.Action("Create","Agreements")">
		<em class="glyphicon glyphicon-plus"></em> Create Contract
	      </a>
                <a class="btn btn-success" href="@Url.Action("Index","Agents")">
                    <em class="glyphicon glyphicon-user"></em> Agents
                </a>
                <a class="btn btn-success" href="@Url.Action("Index","Clients")">
                    <em class="glyphicon glyphicon-folder-open"></em> Clients
                </a>
                <a class="btn btn-success" href="@Url.Action("Index","Sellers")">
                    <em class="glyphicon glyphicon-list-alt"></em> Sellers
                </a>
            </div>
        </center>
    </div>
</div>

